#root
{
    padding: 2rem;
}

main
{
    text-align: center;
}

.current-character
{
    font-size: 8em;
}

.possible-romanji
{
    font-weight: bold;
}

.last-answer
{
}

.character-sets
{
    display:               grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap:                   20px;
}

.character-set
{
    display:               flex;
    flex-direction:        column;
    align-items:           center;
    cursor:                pointer;
    border:                1px solid #eeeeee;
    padding:               30px;
    transition:            all 0.3s ease-in-out;
    -webkit-touch-callout: none;
    -webkit-user-select:   none;
    -moz-user-select:      none;
}

.character-set:hover
{
    color: #4ecaef;
}

.character-set.active
{
    background-color: #9de6ff;
}
