#root
{
    padding: 2rem;
}

main
{
    text-align: center;
}

.current-character
{
    font-size: 8em;
}

.possible-romanji
{
    font-weight: bold;
}

.last-answer
{
}

.lectures
{
    display:               grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap:                   20px;
}

.lecture
{
    display:        flex;
    flex-direction: column;
    align-items:    center;
    cursor:         pointer;
    border:         1px solid #eeeeee;
    padding:        30px;
}

.lecture:hover
{
    color: #4ecaef;
}

.lecture.active
{
    background-color: #9de6ff;
}
